{%  extends "base.html"  %}
{%  load static  %}
{% block content  %}
<div class="container my-5 justify-content-center shadow-lg p-5 w-50 text-white bg-secondary border border-3 rounded-5">
      
            
                  <h3 class="text-center"> Connexion</h3>
                  <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Adresse e-mail</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text text-white-50 ">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Vérifiez-moi</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Connecter</button>
                      </form>
            
           
      
</div>


{% endblock  %}